@charset "utf-8";

/* メインとなる全体のデザイン */
h1.main-style {
	padding: 0.5em;
	color: #010101;
	background: #eaf3ff;
	border-bottom: solid 3px #516ab6;
}

h2.main-style {
	padding: 0.25em 0.5em;/*上下 左右の余白*/
	color: #494949;/*文字色*/
	background: transparent;/*背景透明に*/
	border-left: solid 5px #7db4e6;/*左線*/
}

h3.main-style {
	margin-top: 2.5em;
	margin-bottom: 2em;
	position: relative;
	padding: 0.6em;
	background: #e0edff;
}

h3.main-style:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
  width: 0;
  height: 0;
}

hr {
	border-top: 3px solid #7db4e6;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#ind_1 table {
	border-collapse: collapse;
}
#ind_1 caption {
	color: #008cca;
}
#ind_1 th, td {
	border: 1px solid #8fbac8;
	padding: 8px;
}
#ind_1 th{
	color: #fff;
	background: #606668;
}
#ind_1 a:hover{
	background: #516ab6;
}
#ind_1 a:active{
	background: rgba(143, 9, 9, 0.555);
}
#cyb_1 strong{
	text-align: left;
	line-height: normal;
	font-weight: 900;
}
#it_1 strong{
	line-height: normal;
	font-weight: 900;
}
